<h1>Citizenprep Forum</h1>

<p class="forum_instructions"><span class="firstcharacter">W</span>elcome to the Citizenprep Forum.  Leave questions, answers, notes of encouragement and advice to others in the Citizenprep community.  To post simply enter your content into the box below and click submit.  Your comment will automatically join the top of the list of all posts below.</p>

<form method="post" action="">
<textarea id="POST-name" name="forum" cols="25" rows="5">
Enter your post here...255 characters or less...
</textarea><br>
<input type="submit" value="Submit" />
</form>

<p>All posts (newest on top):</p>

<ul>
	<% @forums.each do |forum| %>
		<div class="forum">
			<li class="poster">
			<% poster = User.find(forum.user_id) %>
			<% user_poster = poster.email.split('@') %>
			<%= user_poster.first.capitalize %>
			</li>
			<li class="date">
			<%= Kronic.format(forum.created_at) %>
			</li>
			<li class="post">
			<%= forum.post %>
			</li>
			
			<a href='/edit/<%= forum.id %>'>Edit Post</a>
			<a href='/delete/<%= forum.id %>'>Delete Post</a>
		</div>
		<% end %>
</ul>